<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/tab-icon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Distancing Analytics Dashboard</title>
</head>
<body>
    <div class="container" id="report-content">
        <!-- Top bar section with date filter -->
        <section class="top-bar">
            <p>Distancing data <span class="report-btn" id="download-pdf">Download Report</span></p>
            <div class="filter-forms">
                <form action="/" method="POST">
                    <label for="start-date">from</label>
                    <input type="date" name="dateFilter[start]" id="start-date" required>
                    <label for="end-date">to</label>
                    <input type="date" name="dateFilter[end]" id="end-date" required>
                    <button class="filter-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="filter-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5l7 7-7 7M5 5l7 7-7 7" />
                        </svg>
                    </button>
                </form>
                <form action="/" method="GET">
                    <button class="reset-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="filter-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                        </svg>
                    </button>
                </form>
            </div>
        </section>
        <!-- Analytics section for graph and cards -->
        <section class="analytics">
            <div class="chart-container">
                <canvas class="bar-chart" id="barChart"></canvas>
            </div>
            <div class="cards">
                <div class="card card-long" id="date-display">
                    <div class="calendar-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                        </svg>
                    </div>
                    <% if (startDate && endDate) { %> 
                        <p><%= helper.sliceDateString(startDate) %> &#8594; <%= helper.sliceDateString(endDate) %></p>
                    <% } else { %>
                        <p>All records shown</p>
                    <% } %> 
                </div>
                <div class="card">
                    <p class="card-header">Total Violations</p>
                    <p class="card-subtitle">Violations for period</p>
                    <p class="short-card-value"><%= totalViolations %></p>
                </div>
                <div class="card">
                    <p class="card-header">Total Headcount</p>
                    <p class="card-subtitle">Headcount for period</p>
                    <p class="short-card-value"><%= totalHeadcount %></p>
                </div>
                <div class="card card-long">
                    <p class="card-header">Highest Violation Counts</p>
                    <p class="card-subtitle">Records with the highest values</p>
                    <div class="card-body">
                        <% for (let record of topViolations) { %>
                            <div class="top-item">
                                <p class="top-value"><%= record.violationCount %></p>
                                <p class="top-date"><%= helper.sliceDateString(record.recordDate) %></p>
                            </div>
                        <% } %> 
                    </div>
                </div>
                <div class="card card-long">
                    <p class="card-header">Highest Headcounts</p>
                    <p class="card-subtitle">Records with the highest values</p>
                    <div class="card-body">
                        <% for (let record of topHeadcounts) { %>
                            <div class="top-item">
                                <p class="top-value"><%= record.headcount %></p>
                                <p class="top-date"><%= helper.sliceDateString(record.recordDate) %></p>
                            </div>
                        <% } %> 
                    </div>
                </div>
            </div>
        </section>
        <!-- Table section for data -->
        <section class="data-tables">
            <div class="recent-data">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">Recent Data Records</th>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Violation Count</th>
                            <th>Headcount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (recentData.length === 0) { %>
                            <tr>
                                <td colspan="4" class="empty-row">No Recent Records</th>
                            </tr>
                        <% } else { %> 
                            <% for (let record of recentData) { %>
                                <tr>
                                    <th><%= helper.sliceDateString(record.recordDate) %></th>
                                    <td><%= record.violationCount %></td>
                                    <td><%= record.headcount %></td>
                                    <td>
                                        <form action="/<%= record._id %> " method="POST" class="table-btn archive-btn">
                                            <button>Archive
                                                <svg xmlns="http://www.w3.org/2000/svg" class="archive-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                                </svg>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %> 
                    </tbody>
                </table>
            </div>
            <div class="old-data">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">Old Data Records</th>
                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Violation Count</th>
                            <th>Headcount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (oldData.length === 0) { %>
                            <tr>
                                <td colspan="4" class="empty-row">No Old Records</th>
                            </tr>
                        <% } else { %> 
                            <% for (let record of oldData) { %>
                                <tr>
                                    <th><%= helper.sliceDateString(record.recordDate) %></th>
                                    <td><%= record.violationCount %></td>
                                    <td><%= record.headcount %></td>
                                    <td>
                                        <form action="/<%= record._id %>?_method=DELETE" method="POST" class="table-btn delete-btn">
                                            <button>Delete
                                                <svg xmlns="http://www.w3.org/2000/svg" class="delete-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                                </svg>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %> 
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <!-- ChartJS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <!-- html2pdf -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" 
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"></script>
    <script src="/javascripts/pdfDownload.js"></script>

    <script>
        // For displaying charts
        var oldData = '<%- JSON.stringify(oldData) %>';
        var workableData = JSON.parse(oldData);

        // Defining arrays for the chart
        let dateArray = [];
        let violationArray = [];
        let headcountArray = [];
        
        // Pushing record data to arrays
        for (let record of workableData) {
            dateArray.unshift(record.recordDate.slice(0, 10));
            violationArray.unshift(record.violationCount);
            headcountArray.unshift(record.headcount);
        }

        const barChart = document.getElementById('barChart').getContext('2d');
        Chart.defaults.global.defaultFontColor = '#000 ';
        const barChartDisplay = new Chart(barChart, {
            type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
            data: {
                labels: dateArray,
                datasets: [
                    {
                        label:'Violations',
                        data: violationArray,
                        backgroundColor: '#087f5b',
                        fill: true,
                        borderColor: '#000',
                        color: '#000',
                        tension: 0.3
                    },
                    {
                        label:'Headcount',
                        data: headcountArray,
                        backgroundColor: '#38d9a9',
                        fill: true,
                        borderColor: '#000',
                        color: '#000',
                        tension: 0.3
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'Violation and Headcount Records',
                    fontSize: 25
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        bottom: 0,
                        top: 0
                    }
                },
                tooltips: {
                    enabled: true
                },
                maintainAspectRatio: false
            }
        });
    </script>
</body>
</html>